---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - ruby

includes:
  - authentication
  - pagination
  - devices
  - device_types
  - errors
  

search: true
---

# Introduction

Welcome to Devices API!

<a href="https://github.com/morporkk/devices-api">Source code of api</a>



